* {
    margin: 0px;
    padding: 0px;
}

/* Head section CSS goes here */
.head {
    margin-top: 0.2rem;
    display: flex;
   
}

.head > img{
    width: 150%;
    height: auto;
}
 /*body goes here*/

 body{
    background: url("magicpattern-noise-1709014171602.png") no-repeat center center/cover;
 }

@media screen and (max-width: 897px) {
    .head {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 0px 0px;
    }
}

.head > img {
    height: 19vh;
    width: 14vb;
    padding: 0.2rem 9.2rem;
}

.clubname {
    text-align: left;
    flex-grow: 1;
    font-size: 3.5rem;
}

.media {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
