@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
* {
    margin: 0px;
    padding: 0px;

}

h1{
    font-family: "Alfa Slab One", serif;
}

h2 {
    font-family: "Alfa Slab One", serif;
}

h3{
    font-family: "Alfa Slab One", serif;
}

p{
    font-family: "Josefin Sans", sans-serif;
}

/* Head section CSS goes here */
.head {
    margin-top: 0.2rem;
    display: flex;
    border-bottom: 4px solid black;
}

.head > img{
    height: 19vh;
    width: 46vb;
}
 /*body goes here*/

 body{
    background: url("magicpattern-noise-1709014171602.png") no-repeat center center/cover;
    border: 4px solid black;
    margin: 1rem 2rem;
 }

@media screen and (max-width: 897px) {
    .head {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 0px 0px;
    }
}


.clubname {
    text-align: left;
    flex-grow: 1;
    font-size: 3.5rem;
}

.media {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
