/* .markDown {
    display: flex;
    /* align-items: center; */
    /* justify-content: center;
    flex-direction: column;
    text-align: justify;
    padding: 2rem 5rem;
    padding-right: 8rem;
    line-height: 1.5;
    font-size: 1rem;
}
.markDown h3 {
    font-weight: 500;
    margin: 1rem 0rem;
}
.markDown h2 {
    font-weight: 500;
}


@media screen and (max-width: 520px) {
    .markDown{
        padding: 0.75rem 2.5rem;
        margin-right: 2rem;
        margin: 1rem;
    }

    .markDown h2{
        padding: 1rem;
        text-align: justify;
        margin-right: 1rem;
    }
  }  */ 

  .markDown {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: justify;
    padding: 2rem 5rem;
    padding-right: 8rem;
    line-height: 1.5;
    font-size: 1rem;
}

.markDown h3 {
    font-weight: 500;
    margin: 1rem 0rem;
}

.markDown h2 {
    font-weight: 500;
}

@media screen and (max-width: 520px) {
    .markDown {
        padding: 1rem 2rem; /* Adjusted padding for mobile view */
        padding-right: 2rem; /* Adjusted right padding for mobile view */
    }

    .markDown h2 {
        padding: 1rem;
        font-weight: 100;
        text-align: justify;
        margin: 0; /* Removed margin-right for h2 in mobile view */
    }
}
