.carousel-slide {
  padding: 5rem 20rem;
  border-top: 2px solid black;
}


.legend1 {
  margin: 1rem auto;
  width: 63%;
  height: 10vh; 
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  font-size: 1.5rem;
}

.image-container-carousel > img{
  height: 75vh;
  border: 2px solid black;
  width: 50vb;
}
