.media {
    
    border-top: 4px solid black;
   
}

/* Common styles for both desktop and mobile */
.icons {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 2rem;
    padding: 0.5rem 0.5rem;
    margin: 0.5rem 0.5rem;
}

.icon {
    width: 4rem;
    height: 4rem;
    margin-right: 0.5rem;
}

.icons a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
    .icons {
        flex-wrap: wrap; /* Allow items to wrap to the next line */
        justify-content: flex-start; /* Align items to the start of the flex container */
        gap: 1rem; /* Reduce the gap between items */
    }

    .icons a{
        font-size: 0.7rem;
    }
    .icon {
        width: 1.5rem; /* Decrease icon size */
        height: 1.5rem; /* Decrease icon size */
        margin-right: 0.5rem;
    }
}


